<nav class="pagination-wrapper justify-content-center" aria-label="pagination">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': page == 1}">
        <a class="page-link" (click)="goToPage(page - 1)">
          <svg class="icon icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use></svg>
          <span class="sr-only">{{'global-page-prev' | translate}}</span>
        </a>
      </li>
      <li *ngIf="lastPage > 5 && page > 4" class="page-item"><a class="page-link" (click)="goToPage(1)">1</a></li>
      <li *ngIf="lastPage > 5 && page > 4" class="page-item"><span class="page-link">...</span></li>
      
      <li *ngIf="page - 2 >= 1" class="page-item"><a class="page-link" (click)="goToPage(page - 2)">{{(page - 2)}}</a></li>
      <li *ngIf="page - 1 >= 1" class="page-item"><a class="page-link" (click)="goToPage(page - 1)">{{(page - 1)}}</a></li>

      <li class="page-item">
        <a class="page-link" (click)="goToPage(page)" aria-current="page">
          <span class="d-inline-block d-sm-none">{{'global-page' | translate}}</span> {{page}}
        </a>
      </li>

      <li *ngIf="page + 1 <= lastPage" class="page-item"><a class="page-link" (click)="goToPage(page + 1)">{{(page + 1)}}</a></li>
      <li *ngIf="page + 2 <= lastPage" class="page-item"><a class="page-link" (click)="goToPage(page + 2)">{{(page + 2)}}</a></li>

      <li *ngIf="lastPage > 5 && lastPage - page > 3" class="page-item"><span class="page-link">...</span></li>
      <li *ngIf="lastPage > 5 && lastPage - page > 3"  class="page-item"><a class="page-link"  (click)="goToPage(lastPage)">{{lastPage}}</a></li>

      <li class="page-item" [ngClass]="{disabled: page == lastPage}">
        <a class="page-link" (click)="goToPage(page + 1)">
          <span class="sr-only" >{{'global-page-next' | translate}}</span>
          <svg class="icon icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use></svg>
        </a>
      </li>
    </ul>

    <div class="dropdown">
        <a class="btn btn-dropdown dropdown-toggle" role="button" id="pagerChanger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{pageSize}} <span>{{'global-page-results' | translate}}</span></a>
        <div class="dropdown-menu" aria-labelledby="pagerChanger">
          <div class="link-list-wrapper">
            <ul class="link-list">
               <li><a class="list-item active" (click)="changeSize(10)" aria-current="page"><span>10</span></a></li>
               <li><a class="list-item"  (click)="changeSize(20)"><span>20</span></a></li>
               <li><a class="list-item" (click)="changeSize(50)"><span>50</span></a></li>
               <li><a class="list-item" (click)="changeSize(100)"><span>100</span></a></li>
            </ul>
          </div>
        </div>
      </div>
  </nav>