<div class="it-header-wrapper sticky"  bsNavbar>
  <div class="it-header-slim-wrapper">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="it-header-slim-wrapper-content" [ngSwitch]="isAuthenticated">
                <a class="d-none d-lg-block navbar-brand" href="#">APP</a>
                <div class="nav-mobile">
                  <nav>
                    <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu3" role="button" aria-expanded="false" aria-controls="menu3">
                      <span>APP</span>
                      <svg class="icon">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                      </svg>
                    </a>
                  </nav>
                </div>
                <div class="it-header-slim-right-zone">
                  <!-- MENU LINGUA -->  
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                      <span>{{ currentLanguage | findLanguageFromKey }}</span>
                      <svg class="icon d-none d-lg-block">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                      </svg>
                    </a>
                    <div class="dropdown-menu"  *ngIf="languages && languages.length > 1">
                      <div class="row">
                        <div class="col-12">
                          <div class="link-list-wrapper">
                            <ul class="link-list">
                              <li *ngFor="let language of languages">
                                  <a class="list-item" [appActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language)"><span>{{ language | findLanguageFromKey }}</span></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- ACCESSO -->
                  <div class="it-access-top-wrapper" *ngSwitchCase="false">
                    <a class="btn btn-primary btn-sm"  (click)="login()"  ><span jhiTranslate="global.menu.account.login">Sign in</span></a>
                  </div>
                  
                  <!-- MENU UTENTE -->
                  <div class="nav-item dropdown" *ngSwitchCase="true">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>{{getName()|uppercase}}</span>
                        <svg class="icon d-none d-lg-block">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>

                      <div class="dropdown-menu">
                        <div class="row">
                          <div class="col-12">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                  <li>
                                      <a class="dropdown-item" routerLink="account/settings" >
                                          <span jhiTranslate="global.menu.account.settings">Settings</span>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="dropdown-item" (click)="logout()" id="logout">
                                          <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                      </a>
                                  </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="it-nav-wrapper">
      <div class="it-header-center-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="it-header-center-content-wrapper">
                <div class="it-brand-wrapper">
                  <a href="#">
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-code-circle"></use>
                    </svg>
                    <div class="it-brand-text">
                      <h2 class="no_toc">APP NAME</h2>
                      <h3 class="no_toc d-none d-md-block">app description</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="it-header-navbar-wrapper" *ngIf="isAuthenticated">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!--start nav-->
              <nav class="navbar navbar-expand-lg">
                <button class="custom-navbar-toggler" type="button" aria-controls="nav02" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav02">
                  <svg class="icon">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
                  </svg>
                </button>
                <div class="navbar-collapsable" id="nav02" style="display: none;">
                  <div class="overlay" style="display: none;"></div>
                  <div class="close-div sr-only">
                    <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                  </div>
                  <div class="menu-wrapper">
                    <ul class="navbar-nav">
                      <li class="nav-item active"><a class="nav-link active" href="#"><span>link 1 </span></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><span>link 2 </span></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><span>link 3 </span></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><span>link 4</span></a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
      <router-outlet></router-outlet>
  </div>
</div>


<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">

     
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
            <p>
              <strong>Comune di Lorem Ipsum</strong><br> Via Roma 0 - 00000 Lorem Ipsum Codice fiscale / P. IVA: 000000000
            </p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="#" title="Vai alla pagina: Posta Elettronica Certificata">Posta Elettronica Certificata</a></li>
                <li><a class="list-item" href="#" title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico">URP - Ufficio Relazioni con il Pubblico</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Lorem Ipsum">Lorem Ipsum</a></h4>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <div class="pb-2">
              <h4><a href="#" title="Vai alla pagina: Seguici su" class="">Seguici su</a></h4>
              <ul class="list-inline text-left social">
                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-designers-italia"></use></svg><span class="sr-only">Designers Italia</span></a></li>
                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-twitter"></use></svg><span class="sr-only">Twitter</span></a></li>
                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-medium"></use></svg><span class="sr-only">Medium</span></a></li>
                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-behance"></use></svg><span class="sr-only">Behance</span></a></li>
              </ul>
            </div>
            <div class="pb-2">
              <h4><a href="#" title="Vai alla pagina: Newsletter">Newsletter</a></h4>
              <p>Form Newsletter</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="sr-only">Sezione Link Utili</h3>
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><a href="#" title="Note Legali">Media policy</a></li>
        <li class="list-inline-item"><a href="#" title="Note Legali">Note legali</a></li>
        <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
        <li class="list-inline-item"><a href="#" title="Mappa del sito">Mappa del sito</a> </li>
      </ul>
    </div>
  </div>
</footer>